<?xml version="1.0" encoding="utf-8" ?>
<services>
  <service behaviorConfiguration="CabinetWebserviceBehaviors" name="Cabinet.Bridge.WcfService.WorkInstructionService">
    <endpoint binding="basicHttpBinding"
      bindingConfiguration="" name="CabinetEndpoint" contract="Cabinet.Bridge.WcfService.IWorkInstructionService" />
    <host>
      <baseAddresses>
        <add baseAddress="http://10.31.31.31:8137/Cabinet/WorkInstruction" />
      </baseAddresses>
    </host>
  </service>
  <service behaviorConfiguration="CabinetWebserviceBehaviors" name="Cabinet.Bridge.WcfService.EqptRoomService">
    <endpoint binding="basicHttpBinding"
      bindingConfiguration="" name="EqptRoomEndpoint" contract="Cabinet.Bridge.WcfService.IEqptRoomService" />
    <host>
      <baseAddresses>
        <add baseAddress="http://10.31.31.31:8137/Cabinet/EqptRoom" />
      </baseAddresses>
    </host>
  </service>
</services>