<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cabinet.Framework.PersistenceLayer.Properties.Settings.PsDbA201302ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=PsDbA201302;Persist Security Info=True;User ID=sa;Password=118406690"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>