<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cabinet.Bridge.WcfService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Cabinet.Bridge.WcfService.Properties.Settings>
      <setting name="Cabinet_Bridge_WcfService_WebComm_WebServerService"
          serializeAs="String">
        <!-- 配置项1/4 : Web服务器的webservice地址, 用以回报作业指导书的状态 -->
        <value>http://1.1.1.1:8089/CubService</value>
      </setting>
    </Cabinet.Bridge.WcfService.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <!-- 配置项2/4 : 中心服务器TCP监听地址, 用以和机房主站服务器通信 -->
    <add key="EqptRoomHubListenIp" value="10.31.31.31"></add>
    <!-- 配置项3/4 : 中心服务器TCP监听端口, 用以和机房主站服务器通信 -->
    <add key="EqptRoomHubListenPort" value="8135"></add>
  </appSettings>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="CabinetWebserviceBehaviors" name="Cabinet.Bridge.WcfService.WorkInstructionService">
        <endpoint binding="basicHttpBinding"
          bindingConfiguration="" name="CabinetEndpoint" contract="Cabinet.Bridge.WcfService.IWorkInstructionService" />
        <host>
          <baseAddresses>
            <!-- 配置项4/4 : 中心服务器webservice地址, 用以接收来自Web服务器的下发调用 -->
            <add baseAddress="http://10.31.31.31:8137/Cabinet/WorkInstruction" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CabinetWebserviceBehaviors" >
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServerPortBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
