<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cabinet.Demo.WebserviceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cabinet.Demo.WebserviceTest.Properties.Settings>
            <setting name="Cabinet_Demo_WebserviceTest_TestLocalService_WorkInstructionService"
                serializeAs="String">
                <value>http://10.31.31.31:8137/Cabinet/WorkInstruction</value>
            </setting>
        </Cabinet.Demo.WebserviceTest.Properties.Settings>
    </applicationSettings>
</configuration>