<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cabinet.Bridge.WcfService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cabinet.Bridge.WcfService.Properties.Settings>
            <setting name="Cabinet_Bridge_WcfService_WebComm_WebServerService"
                serializeAs="String">
                <value>http://10.148.219.206:8089/CubService</value>
            </setting>
        </Cabinet.Bridge.WcfService.Properties.Settings>
    </applicationSettings>
</configuration>